{% extends 'base.html.twig' %}

{% block title %}Nová objednávka{% endblock %}

{% block body %}
    <h1>Vytvoření objednávky</h1>
    <div class="row">
        <div class="col md-6">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            <button class="btn btn-success">{{ button_label|default('Odeslat objednávku') }}</button>
            {{ form_end(form) }}
        </div>
        <div class="col md-6">
    <div class="example-wrapper">
        <div class="card" style="height: 16rem;">
            <div class="card-body">
                <table>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name|capitalize }}</td>
                        <td><span id="total_count">{{ product.count }} ks</span></td>
                        <td><span class="total_product">{{ product.count * product.price }} Kč</span></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Doprava </td>
                        <td><span id="total_delivery_name"></span></td>
                        <td><span id="total_delivery"></span></td>
                    </tr>
                    <tr>
                        <td>Platba </td>
                        <td><span id="total_payment_name"></span></td>
                        <td><span id="total_payment"></span></td>
                    </tr>
                    <tr>
                        <td><b>Suma za objednávku</b></td>
                        <td></td>
                        <td><b><span id="total_pricing"></span></b></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    </div>
    </div>
    <a href="{{ path('ordering_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script>
        let sumPrice = 0;
        $('.total_product').each(function() {
            sumPrice += parseInt($(this).text());
        });
        let totalPriceProducts = sumPrice;
        let delivery = $('#ordering_delivery option:selected').attr('data-delivery');
        let payment = $('#ordering_payment option:selected').attr('data-payment');
        function updatePrice () {
            let delivery = parseInt($('#ordering_delivery option:selected').attr('data-delivery'));
            let payment = parseInt($('#ordering_payment option:selected').attr('data-payment'));

            let totalPrice = delivery + payment + totalPriceProducts;

            $('#total_payment').text(payment + 'Kč');
            $('#total_delivery').text(delivery + 'Kč');
            $('#total_delivery_name').text($('#ordering_delivery option:selected').text());
            $('#total_payment_name').text($('#ordering_payment option:selected').text());
            $('#total_pricing').text( totalPrice + ' Kč');
        };

        $(document).ready(function () {
            updatePrice();
        });

        $('#ordering_payment, #ordering_delivery').on('change', function (){
            updatePrice()
        });


        //$('#ordering_count').on('change', updatePrice());
        //$('#ordering_delivery').on('change', updatePrice());
        //$('#ordering_payment').on('change', updatePrice());

        //$('#ordering_count, #ordering_delivery, #ordering_payment').on('change', updatePrice());
    </script>
{% endblock %}
