{% extends 'base_admin.html.twig' %}

{% block title %}Ordering{% endblock %}

{% block body %}
    <h1>Detail objednávky {{ ordering.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Objednané výrobky</th>
                <td>
                    {% for orderedItem in ordering.orderedProducts %}
                            {{ orderedItem.name }} - {{ orderedItem.amount }} ks <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Celková cena</th>
                <td>{{ ordering.totalPrice }} Kč</td>
            </tr>
            <tr>
                <th>Doručovací údaje</th>
                <td>
                    {{ ordering.name }} <br>
                    {{ ordering.addressStreet }}<br>
                    {{ ordering.addressZip }} {{ ordering.addressCity }}<br>
                    {{ ordering.addressCountry.description }}
                </td>
            </tr>
            <tr>
                <th>Kontaktní údaje</th>
                <td>
                    {{ ordering.email }}<br>
                    {{ ordering.telephone }}
                </td>
            </tr>
            <tr>
                <th>Doprava a platba</th>
                <td>
                    {{ ordering.delivery.description }}<br>
                    {{ ordering.payment.description }}
                </td>
            </tr>
            <tr>
                <th>Poznámka</th>
                <td>{{ ordering.notes }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ordering.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ordering_index') }}">back to list</a>

    <a href="{{ path('ordering_edit', {'id': ordering.id}) }}">edit</a>

    {{ include('ordering/_delete_form.html.twig') }}
{% endblock %}
