{% extends 'base.html.twig' %}

{% block title %}{{ homepage.heading }}{% endblock %}

{% block stylesheets %}
    <script src="https://api.mapy.cz/loader.js"></script><script>Loader.load()</script>

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ homepage.heading }}</h1>

    <h2>reTaška.cz</h2>
    <table>
        <tr>
            <td><b>Adresa:</b></td>
            <td>Strossmayerovo náměstí 976/1, 170 00 Praha 7</td>
        </tr>
        <tr>
            <td></td> <!--width:420px; height:280px;-->
            <td>
                <div id="mapa" style="width: 100%; height: 280px;"></div>
                <script type="text/javascript">
                    var stred = SMap.Coords.fromWGS84(14.4332365, 50.0988782);
                    var mapa = new SMap(JAK.gel("mapa"), stred, 17);
                    mapa.addDefaultLayer(SMap.DEF_BASE).enable();
                    mapa.addDefaultControls();
                </script>
            </td>
        </tr>
        <tr>
            <td><b>Telefon:</b></td>
            <td>+420 774 219 386</td>
        </tr>
        <tr>
            <td><b>Eshop:</b></td>
            <td><a href="{{ path('homepage') }}">reTaška.cz</td>
        </tr>
        <tr>
            <td><b>Facebook:</b></td>
            <td><a href="{{ path('homepage') }}">reTaška na Facebooku</td>
        </tr>
        <tr>
            <td><b>Instagram:</b></td>
            <td><a href="{{ path('homepage') }}">reTaška na Instagramu</td>
        </tr>
    </table>
</div>


{% endblock %}
