<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">reTaska.cz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {#<li class="nav-item {{ route ==  'homepage' ? 'active' }}">
                <a class="nav-link" href="{{ path('homepage') }}" {{ route ==  'homepage' ? 'onclick="return false;"' }}>Domů</a>
            </li>#}
            <li class="nav-item {{ route starts with 'list' ? 'active' }}">
                <a class="nav-link" href="{{ path('list') }}" {{ route ==  'list' ? 'onclick="return false;"' }}>Seznam produktů</a>
            </li>
            <li class="nav-item {{ route ==  'contact' ? 'active' }}">
                <a class="nav-link" href="{{ path('contact') }}" {{ route ==  'contact' ? 'onclick="return false;"' }}>Kontakt</a>
            </li>
            <li class="nav-item {{ route starts with  'basket' ? 'active' }}">
                <a class="nav-link" href="{{ path('basket_index') }}" {{ route ==  'basket_index' ? 'onclick="return false;"' }}>Košík</a>
            </li>
            {#
            <li class="nav-item {{ route starts with  'search' ? 'active' }}">
                <a class="nav-link" href="{{ path('search') }}" {{ route ==  'search' ? 'onclick="return false;"' }}>Vyhledávání</a>
            </li>
            #}
        </ul>
        <ul class="navbar-nav mr-auto align="right">
            <li>
            <form action="{{ path('search') }}" class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="Vyhledat" aria-label="Hledat">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hledat</button>
            </form>
            </li>
            <li class="nav-item {{ route ==  'admin_homepage' ? 'active' }}">
                <a class="nav-link" href="{{ path('admin_homepage') }}">Administrace</a>
            </li>

        </ul>
        <div class="form-inline my-2 my-lg-0">


{#
        {{ route starts with 'search' ? form_start(searchForm) }}
        {{ route starts with 'search' ? form_widget(searchForm.search) }}
        {{ route starts with 'search' ? form_widget(searchForm.send) }}
        {{ route starts with 'search' ? form_end(searchForm) }}
#}
        </div>
    </div>
</nav>