{% set route = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">reTaska.cz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ route ==  'homepage' ? 'active' }}">
                <a class="nav-link" href="{{ path('homepage') }}">Zpět na obchod <span class="sr-only">(current)</span></a>
            </li>





            <!-- disabled item
             <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> --!>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li id="admin" class="nav-item {{ route ==  'admin_homepage' ? 'active' }}">
                    <a class="nav-link" href="{{ path('admin_homepage') }}">Administrace</a>
                </li>
                <li id="prod" class="nav-item {{ route starts with  'product' ? 'active' }}">
                    <a class="nav-link" href="{{ path('product_index') }}" {{ route starts with  'product' ? 'onclick="return false;"' }}>Správa produktů</a>
                </li>
                <li id="cat" class="nav-item {{ route starts with  'category' ? 'active' }}">
                    <a class="nav-link" href="{{ path('category_index') }}" {{ route starts with  'category' ? 'onclick="return false;"' }}>Správa kategorií</a>
                </li>
                <li id="order" class="nav-item {{ route starts with  'ordering' ? 'active' }}">
                    <a class="nav-link" href="{{ path('ordering_index') }}" {{ route starts with  'ordering' ? 'onclick="return false;"' }}>Správa objednávek</a>
                </li>
                <li id="user" class="nav-item {{ route starts with  'user' ? 'active' }}">
                    <a class="nav-link" href="{{ path('user_index') }}" {{ route starts with  'user' ? 'onclick="return false;"' }}>Správa uživatelů</a>
                </li>
                <li id="login" class="nav-item">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        <a class="nav-link" href="{{ path('app_logout') }}">Odhlásit {{ app.user.username }}</a>
                        {% else %}
                            <a href="#" class="nav-link">Nepřihlášený uživatel</a>
                    {% endif %}
                </li>
            </ul>
        </form>
    </div>
</nav>
<script>
    function hidelis() {
        $('li#admin').hide;
    };

    $(document).ready(hidelis());
</script>